* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff5f9;
  color: #333;
}

/* NAVBAR */
.navbar {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.navbar nav {
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: #b03060;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #ff4fa3;
}

/* HERO */
.hero {
  position: relative;
  margin: 40px auto;
  width: 90%;
  max-width: 1200px;
  background: white;
  border-radius: 25px;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left h1 {
  font-size: 4rem;
  color: #d63384;
}

.tag {
  padding: 10px 35px;
  border-radius: 40px;
  margin: 10px 0;
  display: inline-block;
}

.rosa {
  background: #ff4fa3;
  color: white;
}

.rosa-claro {
  background: #ffc1dd;
  height: 20px;
  width: 200px;
}

.hero-right {
  text-align: center;
}

.foto-hero {
  width: 160px;
  height: 160px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 15px;
  box-shadow: 0 8px 25px rgba(214, 51, 132, 0.25);
}

/* SETA */
.seta-grande {
  position: absolute;
  right: 40px;
  bottom: 20px;
  font-size: 120px;
  opacity: 0.07;
}

/* SEÇÕES */
.secao {
  margin: 60px auto;
  width: 90%;
  max-width: 1100px;
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.05);
}

.secao h2 {
  margin-bottom: 40px;
  color: #d63384;
}

/* LISTA ESTILO LIMPO */
.lista {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item strong {
  display: block;
  font-size: 1rem;
  color: #b03060;
}

.item p {
  font-size: 0.95rem;
  color: #555;
  margin-top: 5px;
}

.item span {
  font-size: 0.85rem;
  color: #ff4fa3;
  display: block;
  margin-top: 5px;
}

/* TEXTO GERAL */
.secao p {
  text-align: justify;
  line-height: 1.7;
}

/* LINKS */
.secao a {
  color: #ff4fa3;
  text-decoration: none;
}

.secao a:hover {
  text-decoration: underline;
}

/* RESPONSIVO */
@media (max-width: 900px) {

  .hero {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .navbar nav {
    flex-wrap: wrap;
    gap: 20px;
  }
}
